# Activer le module de réécriture
RewriteEngine On
# Réécrire l'accès à l'accueil sans spécifier index.html
DirectoryIndex index.html


# Rediriger automatiquement index.html vers /
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

# Faire en sorte que / pointe vers index.html
DirectoryIndex index.html




# Réécrire /competance vers /competance/comp.html
RewriteRule ^competance/?$ competance/comp.html [L]

# Réécrire /cv vers /cv/cv.html
RewriteRule ^cv/?$ cv/cv.html [L]

